{% extends 'base.html' %}
{% load static %}
{% block links %}

    <link rel="stylesheet" href="{% static 'links/list.css' %}">

{% endblock %}
{% block content %}

    <!-- TODO: Sort -->
    <div class="link-list">
        <div class="link-list-menu">
            <h1 class="text-light">Link list</h1>
            <div class="link-list-menu-filters">
                <span class="filter-label">Sort:</span>
                <div class="date-filter menu-filter">
                    Date
                </div>
                <div class="follow-filter menu-filter">
                    Follows
                </div>
            </div>
        </div>
        {% if links %}

            {% for link in links %}

                <div class="link-list-item">
                    <p class="follow-count">{{link.follow_count}}</p>
                    <p class="mb-0">
                        <strong>{{link.name}}</strong>
                    </p>
                    <p>{{link.description}}</p>
                </div>

            {% endfor %}

        {% else %}

            <h2>You didn't create links yet.</h2>
            <a href="#">Create your first?</a>

        {% endif %}
    </div>

{% endblock %}
