.link-list-menu {
    display: flex;
    justify-content: space-between;
}

.link-list-menu-filters {
    display: flex;
    justify-content: start;
}

.menu-filter {
    margin-right: 3px;
}

.filter-label {
    margin-right: 5px;
}

.follow-count {
    float: right;
    font-size: 4vh;
}